.chat{
    flex:0.65;
    display: flex;
    flex-direction: column;
}

.chat__header{
    display: flex;
    padding:20px;
    border-bottom: 1px solid lightgray;
    align-items: center;
}

.chat__headerInfo{
    flex:1;
    padding-left:20px;
}

.chat__headerInfo > h3 {
    margin-bottom: 3px;
    font-weight: 500;
}

.chat__headerInfo > p {
    color: gray;
}

.chat__headerRight{
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}

.chat__body{
    flex: 0.9;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    background-repeat: repeat;
    background-position: center;
    /* overflow: scroll; */
    padding:30px;
}

.chat__message{
    background-color: white;
    border-radius: 10px;
    position: relative;
    padding:10px;
    width: fit-content;
    box-shadow: 3px 9px 17px -14px rgba(0,0,0,0.42);
}

.chat__name{
    position: absolute;
    font-weight: 700;
    font-size: 0.6rem;
    top: -15px;
}

.chat__timestamp{
    margin-left:20px;
    font-size: xx-small;
    font-weight: 800;
}

.chat__receiver{
    margin-left:auto;
    background-color: #dcf8c6;
}

.chat__footer{
    flex:0.1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgray;
}

.chat__footer > form {
    flex: 1;
    display: flex;
}

.chat__footer > form > input {
    flex: 1;
    border-radius: 30px;
    border: none;
    padding:10px;
}

.chat__footer > form > button{
    display: none;
}