.app{
  height: 100vh;
  /* Display grid y place items center centran el container hijo (en este caso app_body) horizonal y verticalmente */
  display: grid; 
  place-items: center;
  background-color: #dadbd3;
}

.app__body{
  display: flex;
  width: 90vw;
  height: 90vh;
  background-color: #ededed;
  margin-top:-50px
}